body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  padding: 40px;
}

.container {
  background: blue and whitw;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #0b8;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
